#
# JBZoo Toolbox - CI-Report-Converter.
#
# This file is part of the JBZoo Toolbox project.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#
# @license    MIT
# @copyright  Copyright (C) JBZoo.com, All rights reserved.
# @see        https://github.com/JBZoo/CI-Report-Converter
#

.git
.idea
.github
build
/docker/preload.php
tests
vendor
.DS_Store
.editorconfig
.gitattributes
.gitignore
.phan.php
.phpunit.result.cache
.php-cs-fixer.cache
action.yml
box.json.dist
phpunit.xml.dist
Makefile
*.phar
